<%- include('includes/head')%> <%- include('includes/nav')%>
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="text-center">Lista de contatos</h1>
      <p class="text-center lead">Contatos:</p>

      <div class="row">
        <div class="col my-3">
          <div class="alert alert-danger">Um erro qualquer</div>
        </div>
      </div>
      <div class="responsive-table">
        <table class="table my-3">
          <tr>
            <td>Matheus</td>
            <td>Benediht Caldeira</td>
            <td>(43) 99158-9228</td>
            <td>matheusbenediht@gmail.com</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
<%- include('includes/footer')%>
